*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  /* Cool Sky from uigradients.com */
  background: #2980b9;
  background: linear-gradient(to left, #ffffff, #6dd5fa, #2980b9);
  color: #222;
  font: 18px sans-serif;
}

body {
  text-align: center;
}

h1,
h2 {
  font-family: sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  text-align: center;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 28px;
}

::selection {
  color: none;
  background: none;
}

button {
  color: #222;
  background: transparent;
  border: 1px #222 solid;
  padding: 8px;
  text-transform: uppercase;
  letter-spacing: 0.4em;
  min-width: 10em;
  margin: 4px;
}

button:hover,
button:active,
button:focus {
  background: #222;
  color: #fff;
}
